<script type="text/javascript">

  function applyMargins() {
    var leftToggler = $(".mini-submenu-left");
    if (leftToggler.is(":visible")) {
      $("#map .ol-zoom")
        .css("margin-left", 0)
        .removeClass("zoom-top-opened-sidebar")
        .addClass("zoom-top-collapsed");
    } else {
      $("#map .ol-zoom")
        .css("margin-left", $(".sidebar-left").width())
        .removeClass("zoom-top-opened-sidebar")
        .removeClass("zoom-top-collapsed");
    }
  }

  function isConstrained() {
    return $(".sidebar").width() == $(window).width();
  }

  function applyInitialUIState() {
    if (isConstrained()) {
      $(".sidebar-left .sidebar-body").fadeOut('slide');
      $('.mini-submenu-left').fadeIn();
    }
  }

  $(function(){

    $('.sidebar-left .slide-submenu').on('click',function() {
      var thisEl = $(this);
      thisEl.closest('.sidebar-body').fadeOut('slide',function(){
        $('.mini-submenu-left').fadeIn();
        applyMargins();
      });
    });

    $('.mini-submenu-left').on('click',function() {
      var thisEl = $(this);
      $('.sidebar-left .sidebar-body').toggle('slide');
      thisEl.hide();
      applyMargins();
    });

    $(window).on("resize", applyMargins);
    applyInitialUIState();
    applyMargins();



<!----  Ny addition below from here>


    var rasterBaseMapOSM = new ol.layer.Tile({
        source: new ol.source.OSM()
    });


    var geoJsonFormat = new ol.format.GeoJSON();

    function grid8loaderFunction(extent, resolution, projection) {
        var extent = ol.proj.transformExtent(extent, projection.getCode(), ol.proj.get('EPSG:4326').getCode());

        console.log(extent.join(','))

        var url = "geojsonlvl8";
        $.ajax({
            url: url,
            data: {
			  'bbox':  extent.join(',')
			},
			dataType: 'json',
            success: function (data) {
                console.log(data)
                var features = geoJsonFormat.readFeatures(data, {
                    dataProjection: 'EPSG:4326',
                    featureProjection: 'EPSG:4326'
                });
                vectorSource8.clear(true);
                vectorSource8.addFeatures(features);
            },
            error:function(xhr, ajaxOptions, thrownError) {
              console.log("this is error")
                alert(xhr.status)
            },
        });
    }


    function grid9loaderFunction(extent, resolution, projection) {
        var extent = ol.proj.transformExtent(extent, projection.getCode(), ol.proj.get('EPSG:4326').getCode());

        console.log(extent.join(','))

        var url = "geojsonlvl9";
        $.ajax({
            url: url,
            data: {
			  'bbox':  extent.join(',')
			},
			dataType: 'json',
            success: function (data) {
                console.log(data)
                var features = geoJsonFormat.readFeatures(data, {
                    dataProjection: 'EPSG:4326',
                    featureProjection: 'EPSG:4326'
                });
                vectorSource9.clear(true);
                vectorSource9.addFeatures(features);
            },
            error:function(xhr, ajaxOptions, thrownError) {
              console.log("this is error")
                alert(xhr.status)
            },
        });
    }


    vectorSource8 = new ol.source.Vector({
      format: geoJsonFormat,
      loader: grid8loaderFunction,
      projection: 'EPSG:4326',
      strategy: ol.loadingstrategy.bbox
    });

    vectorSource9 = new ol.source.Vector({
      format: geoJsonFormat,
      loader: grid9loaderFunction,
      projection: 'EPSG:4326',
      strategy: ol.loadingstrategy.bbox
<!--       strategy: if(this.resolution && this.resolution != resolution){-->
<!--                        this.loadedExtentsRtree_.clear();-->
<!--                    }-->
<!--                    return [extent];-->
<!--                }-->
    });

    var vectorGridLayerLvl8 =  new ol.layer.Vector({
<!--      minZoom: 11,-->
<!--      maxZoom:13,-->
      source: vectorSource8
    })


    var vectorGridLayerLvl9 = new ol.layer.Vector({
<!--      minZoom: 13,-->
<!--      maxZoom:15,-->
      source: vectorSource9
<!--      renderBuffer: 600-->
    })


    var highlightStyle = new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(200,255,255,0.7)'
      }),
      stroke: new ol.style.Stroke({
        color: '#3399CC',
        width: 3
      })
    });


    var map = new ol.Map({
    moveTolerance:6,
    target: 'map',
    layers: [rasterBaseMapOSM, vectorGridLayerLvl8, vectorGridLayerLvl9],
    view: new ol.View({
        center: [-2.206132113948761,41.13498145407611],
        zoom: 7,
        projection: 'EPSG:4326'
<!--        constrainResolution: true-->
        })
    });


    var selected_cells = [];

    map.on('singleclick', function(e) {
      map.forEachFeatureAtPixel(e.pixel, function(f) {
        var selIndex = selected_cells.indexOf(f.values_);
        console.log(f.values_)
        if (selIndex < 0) {
          selected_cells.push(f.values_);
          f.setStyle(highlightStyle);
        } else {
          selected_cells.splice(selIndex, 1);
          f.setStyle(undefined);
        }
        console.log(selected_cells)
      });
    });

    vectorGridLayerLvl8.setVisible(false);
    vectorGridLayerLvl9.setVisible(false);

    var activeLayer;
    var currentZoom = map.getView().getZoom();
    currentZoom = Math.floor(currentZoom);

    function onMoveEnd(evt) {

        var newZoom = map.getView().getZoom();
        newZoom = Math.floor(newZoom);

        if (currentZoom != newZoom) {
            currentZoom = newZoom;

            if( newZoom > 11 && newZoom < 13 )
            {
                vectorGridLayerLvl8.setVisible(true);
                vectorGridLayerLvl9.setVisible(false);
                activeLayer = vectorGridLayerLvl8;
                selected_cells.length = 0;
            }
            else if( newZoom >= 13 && newZoom < 15 )
            {
                vectorGridLayerLvl9.setVisible(true);
                vectorGridLayerLvl8.setVisible(false);
                activeLayer = vectorGridLayerLvl9;
                selected_cells.length = 0;
            }
            else
            {
                vectorGridLayerLvl8.setVisible(false);
                vectorGridLayerLvl9.setVisible(false);
                selected_cells.length = 0;
            }
        }
    };


    map.on('moveend', onMoveEnd);


<!--    /* Add drawing vector source */-->
<!--    var drawingSource = new ol.source.Vector({-->
<!--      useSpatialIndex : false-->
<!--    });-->

<!--    /* Add drawing layer */-->
<!--    var drawingLayer = new ol.layer.Vector({-->
<!--      source: drawingSource-->
<!--    });-->
<!--    map.addLayer(drawingLayer);-->

<!--    /* Declare interactions and listener globally so we can attach listeners to them later. */-->
<!--    var sketch;-->
<!--    var draw;-->
<!--    var listener;-->

<!--    // Drawing interaction-->
<!--    draw = new ol.interaction.Draw({-->
<!--      source : drawingSource,-->
<!--      type : "Point",-->
<!--      clickTolerance:6-->
<!--    });-->

<!--    map.addInteraction(draw);-->

<!--    /* add ol.collection to hold all selected features */-->
<!--    var select = new ol.interaction.Select({ });-->
<!--    map.addInteraction(select);-->
<!--    var selectedFeatures = select.getFeatures();-->


<!--    draw.on("drawstart",function(event){-->

<!--        drawingSource.clear();-->
<!--        select.setActive(false);-->
<!--&lt;!&ndash;        selectedFeatures.clear();&ndash;&gt;-->
<!--    },this);-->

<!--    draw.on("drawend", function(event) {-->

<!--&lt;!&ndash;        selectedFeatures.clear();&ndash;&gt;-->

<!--        var polygon = event.feature.getGeometry();-->
<!--        var features = activeLayer.getSource().getFeatures();-->

<!--        for (var i = 0 ; i < features.length; i++){-->
<!--        if(polygon.intersectsExtent( features[i].getGeometry().getExtent() )){-->
<!--          selectedFeatures.push(features[i]);-->
<!--        }-->
<!--        }-->
<!--        /* clear drawn polygone after selecting features */-->
<!--        drawingLayer.clear();-->
<!--    });-->

<!--    function delaySelectActivate(){-->
<!--      setTimeout(function(){-->
<!--        select.setActive(true)-->
<!--      },300);-->
<!--    }-->


<!-- Callback functions-->

<!--    $(function() {-->
<!--        $("#addRecordcallback").click(function(e) {-->
<!--            e.preventDefault();-->
<!--            console.log(selected_cells);-->

<!--            var url = "ajax/addrecordcallback/";-->
<!--            $.ajax({-->
<!--                url: url,-->
<!--                type: "POST",-->
<!--                dataType: "json",-->
<!--                data: JSON.stringify(selected_cells),-->
<!--                headers:{-->
<!--                    "X-CSRFToken": '{{ csrf_token }}'-->
<!--                },-->
<!--                success: function (data) {-->
<!--                    console.log("data...")-->
<!--                },-->
<!--                error:function(xhr, ajaxOptions, thrownError) {-->
<!--                  console.log("this is error")-->
<!--                    alert(xhr.status)-->
<!--                },-->
<!--            });-->
<!--        });-->
<!--    });-->

    $(document).ready(function(e) {


        $("#dwnldRecordscallbackg").click(function(e) {
            e.preventDefault();

            var url = "ajax/dwnldrecords/";
            $.ajax({
                url: url,
                type: 'GET',

                success: function (data) {
                    console.log("data received successfully")
                    var element = document.createElement('a');
                    element.href = 'data:text/csv;charset=utf-8,' + encodeURI(data);
                    element.target = '_blank';
                    element.download = 'csv_data.csv';
                    element.click();
                },
                error:function(xhr, ajaxOptions, thrownError) {
                    console.log("server error")
                    console.log(thrownError)
                    alert(xhr.status)
                },
            });

        });

        $("button#btn_submit_data").click(function(e){
            e.preventDefault();
            var commentText = $( "#modaltextcomment" ).val();

            var selected_options = $('#emotionSelectOptn').val();


            console.log(selected_cells);
            console.log(selected_options);

            var url = "ajax/addrecordcallback/";
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data:{
                        comment:commentText,
                        grids:JSON.stringify(selected_cells),
                        emotions:JSON.stringify(selected_options)
                     },
                headers:{
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                success: function (data) {
                    console.log("data added successfully")
                    alert("data added successfully")
                },
                error:function(xhr, ajaxOptions, thrownError) {
                    console.log("server error")
                    alert(xhr.status)
                },
            });
        });
    });

<!-- My addition ends here-->



});



</script>